<iedsp-header [title]="'Manage Clusters'" [action]="'Create Environment'" (actionEvent)="openCreateClusterModal($event)"></iedsp-header>
<section class="platform-data-table">
  <mat-progress-bar
    *ngIf="fetchingData"
    color="primary"
    mode="indeterminate">
  </mat-progress-bar>
  
  <iedsp-no-data-found [icon]="'blur_on'" [text]="'Environment'" (tryAgain)="tryAgain($event)" *ngIf="!fetchingData && (!data || data.length == 0)"></iedsp-no-data-found>
  <iedsp-table *ngIf="data && data.length > 0" [headers]="headers" [dataList]="data" 
    [actions]="['start', 'stop', 'delete']" 
    (emitAction)="onTableAction($event)">
  </iedsp-table>
</section>