<div id="home_page">
  <section>
    <section class="intro">
      <a class="logo" href="https://www.libertymutual.com/" target="_blank"></a>
      <div class="mat-display-2">IE Data Science Platform</div>
      <div class="mat-display-1">Very important : This is a Pilot version with Security tightening Still in progress. Kindly donot use the platform for processing sensitive data.</div>
      <button mat-raised-button (click)="knowMore()">Know more...</button>
    </section>
    <section class="login">
      <mat-card>
        <mat-progress-bar
          *ngIf="isLoggingIn"
          color="primary"
          mode="indeterminate">
        </mat-progress-bar>
        <section class="header">
          <mat-icon color="primary" color="accent">person_pin</mat-icon>
        </section>
        <section class="body">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input name="username" type="text" matInput color="accent" placeholder="Username" [(ngModel)]="username" (keyup.enter)="login()" autocomplete="off"/>
                </mat-form-field>
              
                <mat-form-field class="example-full-width">
                  <input name="password" type="password" color="accent" matInput placeholder="Password" [(ngModel)]="password" (keyup.enter)="login()" autocomplete="off"/>
                </mat-form-field>
                <mat-checkbox name="remember" color="accent">Remember Me</mat-checkbox>
            </form>

        </section>
        <section class="footer">
            <button mat-raised-button color="accent" (click)="login()">Login</button>
        </section>
      </mat-card>
    </section>
  </section>
  <section class="mat-caption">
    &copy; This app is for use by authorised Liberty Mutual users only.
  </section>
</div>
<particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>
