<iedsp-header [title]="'Data Upload/Download'" [action]="'Upload'" (actionEvent)="openUploadModal($event)"></iedsp-header>
<section class="platform-data-table">
    <mat-progress-bar
      *ngIf="fetchingGlobalData || fetchingUserData"
      color="primary"
      mode="indeterminate">
    </mat-progress-bar>
  <mat-tab-group [selectedIndex]="selectedFolderIndex" (selectedTabChange)="changeChange($event)">
    <mat-tab label="Global">
      <ng-template matTabContent>
        
        <iedsp-no-data-found [icon]="'cloud_upload'" [text]="'File'" *ngIf="!fetchingGlobalData && (!globalFiles || globalFiles.length == 0)"></iedsp-no-data-found>
        <iedsp-table *ngIf="globalFiles && globalFiles.length > 0" [headers]="headers" [dataList]="globalFiles" [actions]="['download', 'delete']"
          (emitAction)="onTableAction($event)"></iedsp-table>
      </ng-template>
    </mat-tab>
    <mat-tab label="User"> 
      <ng-template matTabContent>
         
          <iedsp-no-data-found [icon]="'cloud_upload'" [text]="'File'"  *ngIf="!fetchingUserData && (!userFiles || userFiles.length == 0)"></iedsp-no-data-found>
        <iedsp-table *ngIf="userFiles && userFiles.length > 0" [headers]="headers" 
          [dataList]="userFiles" [actions]="['download', 'delete']" 
          (emitAction)="onTableAction($event)"></iedsp-table> 
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  
</section>