<iedsp-modal [title]="config.title" [icon]="config.icon" [action]="config.action" (actionEvent)="uploadFile($event)">
  <div id="upload-file">
    <div>
      <mat-form-field color="accent">
        <input matInput class="dark-text" placeholder="File Name*" name="filename" [(ngModel)]="fileName" autocomplete="off">
      </mat-form-field>
    </div>
    <div>
      <h3 class="mat-subheading-2 dark-text">{{ file?.name ? file.name : 'Choose a file*'}}</h3>
      <label class="mat-raised-button" [ngClass]="{ 'mat-accent': !file, 'mat-primary': file }" for="file">
          <mat-icon>file_upload</mat-icon>
          <span>Choose File</span>
          <input id="file" type="file" 
                  (change)="chooseFile($event)" name="imageUpload" style="display: none;"
              /> 
      </label>
    </div>
    <div>
      <h3 class="mat-subheading-2 dark-text">Folder Location*</h3>
      <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="selectedFolder">
          <mat-button-toggle color="primary" value="global">
            Global
          </mat-button-toggle>
          <mat-button-toggle color="primary" value="user">
            Your Folder
          </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</iedsp-modal>