.header {
    height: auto;
    display: flex;
    flex-direction: row;
   // flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    h1 {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 5px;
    }
}

.line {
    height: 1px;
    width: 100%;
    background: #c1c1c1;
    margin-top: 20px;
}