<iedsp-modal [title]="config.title" [icon]="config.icon" [action]="config.action" [loading]="loading" (actionEvent)="createEvironment($event)">
  <div id="create-environment">
      <mat-horizontal-stepper #stepper linear>
          <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Step 1</ng-template>
                <div class="content">
                  <div>
                    <h3 class="mat-subheading-2 dark-text">Select your work environment*:</h3>
                    <mat-button-toggle-group #group="matButtonToggleGroup" 
                    [(ngModel)]="selectedVal" (change)="onValChange(group.value)"
                    formControlName="firstCtrl" required>
                      <mat-button-toggle color="primary" *ngFor="let env of workingEnvironments" [value]="env.value" >
                        {{env.name}}
                      </mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
              </div>
                
                <div class="action">
                      <button mat-flat-button color="primary" matStepperNext (click)="test(stepper)">Next</button>
                </div>
              </form>
          </mat-step>
            
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Step 2</ng-template>
              <div class="content">
                  <div>
                      <h3 class="mat-subheading-2 dark-text">Workload Type*:</h3>
                      <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="secondCtrl1" [(ngModel)]="environmentObj.workLoadType">
                          <mat-button-toggle color="primary" value="CPU">
                              CPU
                            </mat-button-toggle>
                            <mat-button-toggle color="primary" value="GPU">
                              GPU
                            </mat-button-toggle>
                      </mat-button-toggle-group>
                  </div>
                  <div>
                      <h3 class="mat-subheading-2 dark-text">Instance Type*:</h3>
                      <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="secondCtrl2" [(ngModel)]="environmentObj.instanceType" required>
                          
                          <mat-button-toggle color="primary" value="Compute">
                              Compute
                            </mat-button-toggle>
                            <mat-button-toggle color="primary" value="Memory">
                              Memory
                          </mat-button-toggle>
                      </mat-button-toggle-group>
                  </div>
                  <div>
                      <h3 class="mat-subheading-2 dark-text">Instance Size*:</h3>
                      <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="secondCtrl3" [(ngModel)]="environmentObj.instanceSize">
                          <mat-button-toggle color="primary" value="Small">
                            Small
                          </mat-button-toggle>
                          <mat-button-toggle color="primary" value="Medium">
                            Medium
                          </mat-button-toggle>
                          <mat-button-toggle color="primary" value="Large">
                            Large
                          </mat-button-toggle>
                          <mat-button-toggle color="primary" value="XLarge">
                            XLarge
                          </mat-button-toggle>
                      </mat-button-toggle-group>
                  </div>
              </div>
              <div class="action">
                  <button mat-flat-button matStepperPrevious>Back</button>
                  <button mat-flat-button matStepperNext>Next</button>
                </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="thirdFormGroup">
              <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Step 3</ng-template>
                <div class="content">
                  <div *ngIf="environmentObj?.numberOfNodes != null">
                    <mat-form-field color="accent">
                        <input  matInput formControlName="thirdCtrl1" [(ngModel)]="environmentObj.numberOfNodes" class="dark-text" placeholder="Number of Nodes*" autocomplete="off">
                    </mat-form-field>
                  </div>
                  <div *ngIf="environmentObj?.selectedImg != null">
                      <h3 class="mat-subheading-2 dark-text">Select Image*:</h3>
                      <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="thirdCtrl2" [(ngModel)]="environmentObj.selectedImg">
                          <mat-button-toggle color="primary" value="jpr">
                            JPR
                          </mat-button-toggle>
                          <mat-button-toggle color="primary" value="jprs">
                            JPRS
                          </mat-button-toggle>
                          <mat-button-toggle color="primary" value="jps">
                            JPS
                          </mat-button-toggle>
                      </mat-button-toggle-group>
                    <!-- </div> -->
                  </div>
                </div>
                <div class="action">
                    <button mat-flat-button matStepperPrevious>Back</button>
                    <button mat-flat-button matStepperNext>Next</button>
                </div>
              </form>
          </mat-step>
          <mat-step>
              <ng-template matStepLabel>Review</ng-template>
              <div class="content review mat-body-2 dark-text">
                <div class="row" *ngFor="let key of getKeys(environmentObj)">
                  <div><span>{{ labels[key] }}</span><span>:</span></div>
                  <div>{{environmentObj[key]}}</div>
                </div>
              </div>
              <div class="action">
                  <button mat-flat-button matStepperPrevious>Back</button>
              </div>
          </mat-step>
      </mat-horizontal-stepper>
      
      <mat-vertical-stepper #stepper2 linear>
          <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Step 1</ng-template>
                <div class="content">
                  <div>
                    <h3 class="mat-subheading-2 dark-text">Select your work environment*:</h3>
                    <mat-button-toggle-group #group="matButtonToggleGroup" 
                    [(ngModel)]="selectedVal" (change)="onValChange(group.value)"
                    formControlName="firstCtrl" required>
                      <mat-button-toggle color="primary" *ngFor="let env of workingEnvironments" [value]="env.value" >
                        {{env.name}}
                      </mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
              </div>
                
                <div class="action">
                      <button mat-flat-button color="primary" matStepperNext>Next</button>
                </div>
              </form>
          </mat-step>
            
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Step 2</ng-template>
              <div class="content">
                  <div>
                      <h3 class="mat-subheading-2 dark-text">Workload Type*:</h3>
                      <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="secondCtrl1" [(ngModel)]="environmentObj.workLoadType">
                          <mat-button-toggle color="primary" value="CPU">
                              CPU
                            </mat-button-toggle>
                            <mat-button-toggle color="primary" value="GPU">
                              GPU
                            </mat-button-toggle>
                      </mat-button-toggle-group>
                  </div>
                  <div>
                      <h3 class="mat-subheading-2 dark-text">Instance Type*:</h3>
                      <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="secondCtrl2" [(ngModel)]="environmentObj.instanceType" required>
                          
                          <mat-button-toggle color="primary" value="Compute">
                              Compute
                            </mat-button-toggle>
                            <mat-button-toggle color="primary" value="Memory">
                              Memory
                            </mat-button-toggle>
                      </mat-button-toggle-group>
                  </div>
                  <div>
                      <h3 class="mat-subheading-2 dark-text">Instance Size*:</h3>
                      <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="secondCtrl3" [(ngModel)]="environmentObj.instanceSize">
                          <mat-button-toggle color="primary" value="Small">
                            Small
                          </mat-button-toggle>
                          <mat-button-toggle color="primary" value="Medium">
                            Medium
                          </mat-button-toggle>
                          <mat-button-toggle color="primary" value="Large">
                            Large
                          </mat-button-toggle>
                          <mat-button-toggle color="primary" value="XLarge">
                            XLarge
                          </mat-button-toggle>
                      </mat-button-toggle-group>
                  </div>
              </div>
              <div class="action">
                  <button mat-flat-button matStepperPrevious>Back</button>
                  <button mat-flat-button matStepperNext>Next</button>
                </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="thirdFormGroup">
              <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Step 3</ng-template>
                <div class="content">
                  <div *ngIf="environmentObj?.numberOfNodes != null">
                    <mat-form-field color="accent">
                        <input  matInput formControlName="thirdCtrl1" [(ngModel)]="environmentObj.numberOfNodes" class="dark-text" placeholder="Number of Nodes*" autocomplete="off">
                    </mat-form-field>
                  </div>
                  <div *ngIf="environmentObj?.selectedImg != null">
                      <h3 class="mat-subheading-2 dark-text">Select Image*:</h3>
                      <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="thirdCtrl2" [(ngModel)]="environmentObj.selectedImg">
                          <mat-button-toggle color="primary" value="jpr">
                            JPR
                          </mat-button-toggle>
                          <mat-button-toggle color="primary" value="jprs">
                            JPRS
                          </mat-button-toggle>
                          <mat-button-toggle color="primary" value="jps">
                            JPS
                          </mat-button-toggle>
                      </mat-button-toggle-group>
                    <!-- </div> -->
                  </div>
                </div>
                <div class="action">
                    <button mat-flat-button matStepperPrevious>Back</button>
                    <button mat-flat-button matStepperNext>Next</button>
                </div>
              </form>
          </mat-step>
          <mat-step>
              <ng-template matStepLabel>Review</ng-template>
              <div class="content review mat-body-2 dark-text">
                <div class="row" *ngFor="let key of getKeys(environmentObj)">
                  <div><span>{{ labels[key] }}</span><span>:</span></div>
                  <div>{{environmentObj[key]}}</div>
                </div>
              </div>
              <div class="action">
                  <button mat-flat-button matStepperPrevious>Back</button>
              </div>
          </mat-step>
      </mat-vertical-stepper>

      
      <div class="loading" *ngIf="loading"></div>
  </div>

  
</iedsp-modal>