.no-data {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .mat-icon {
        height: 60px;
        width: 60px;
        font-size: 60px;
    }
    .mat-icon, div {
        color: #c1c1c1;
    }
    button {
        margin-bottom: 80px;
    }
}